p,
h1,
h2,
h3,
h4,
ul,
li,
img {
    margin: 0;
    padding: 0;
    border: 0;
}

ul,
div {
    margin: 0 0 24px 0;
}

li,
p {
    margin: 0 0 16px 0;
/*    font-size: 0.76em;*/
}

body {
    font-family: 'trebuchet ms', 'arial' , sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.125em;
    background: #d0d0d0;
    color: #393939;
    text-align: center;
}

body > div {
    width: 696px;
    text-align: left;
    margin: 0 auto;
}

#header {
    margin-top: 48px;
    margin-bottom: 12px;
    width: 696px;
/*    padding: 36px 24px 0 24px;*/
}

#header h1 {
    color: #333;
    font-size: 3.0em;
    text-align: center;
    font-weight: normal;
    margin-bottom: 24px;
}

#header .tagline {
    color: #999;
    font-size: 1.2em;
    text-align: center;
    font-weight: normal;
}

#content {
    width: 696px;
    padding: 0 24px 24px 24px;
}

h2 {
    font-size: 1.1em;
    color: #000;
    margin-bottom: 24px;
}

#content .section {
    line-height: 150%;
    padding: 12px 0;
}

#content .section.customers {
    padding: 0px;
}

#content .section.customers li {
/*    padding: 12px;*/
    overflow: auto;
    list-style: none;
}

#content .customers h3 {
    text-align: center;
}

#content .customers li div {
  float: left;
  width: 530px;
}

#content .customers li div.left {
  width: 150px;
  padding-top: 12px;
  margin-right: 12px;
}

#footer .email {
  margin-left: 40px;
}